Flask
pandas
scikit-learn
#Flask==1.0.2
#pandas==0.24.2
#scikit-learn==0.20.3
#virtualenv==20.14.1
#argcomplete==2.0.0
joblib
#pylint==2.13.7
#pytest==7.1.2
#werkzeug==2.0.3
#Jinja2==3.0.3
#itsdangerous==2.0.1
# importlib-metadata==4.11.3